<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Flipkart Selinium Project">

<!-- 20 Test Cases -->

  <test name="LoginTest">
    <classes>
      <class name="testcases.LoginTest"/>
    </classes>
  </test>
  
  <test name="SearchProduct">
    <classes>
      <class name="testcases.SearchProductTest"/>
    </classes>
  </test>
  
   <test name="GrocerySection">
    <classes>
      <class name="testcases.GrocerySectionTest"/>
    </classes>
  </test>
  
  <test name="SellerServicePage">
    <classes>
      <class name="testcases.SellerServicePageTest"/>
    </classes>
  </test>
  
  <test name="CustomerCare">
    <classes>
      <class name="testcases.CustomerCareTest"/>
    </classes>
  </test>
  
  <test name="TopOffers">
    <classes>
      <class name="testcases.TopOffersTest"/>
    </classes>
  </test>
  
  <test name="MobileSection">
    <classes>
      <class name="testcases.MobileSectionTest"/>
    </classes>
  </test>
  
   <test name="SortMobilePrice">
    <classes>
      <class name="testcases.SortMobilePriceTest"/>
    </classes>
  </test>
  
  <test name="NewMobileLaunches">
    <classes>
      <class name="testcases.NewMobileLaunchesTest"/>
    </classes>
  </test>
  
  <test name="HighPriceProducts">
    <classes>
      <class name="testcases.HighPriceProductsTest"/>
    </classes>
  </test>
  
  <test name="Termsofuse">
    <classes>
      <class name="testcases.TermsofuseTest"/>
    </classes>
  </test>
  
  <test name="PrivacyPolicy">
    <classes>
      <class name="testcases.PrivacyPolicyTest"/>
    </classes>
  </test>
  
  <test name="Achievementselling">
    <classes>
      <class name="testcases.AchievementsellingTest"/>
    </classes>
  </test>
  
  <test name="SellingGuide">
    <classes>
      <class name="testcases.SellingGuideTest"/>
    </classes>
  </test>
  
  <test name="CustomerReviewsTest">
    <classes>
      <class name="testcases.CustomerReviewsTest"/>
    </classes>
  </test>
  
  <test name="ProductDetail">
    <classes>
      <class name="testcases.ProductDetail"/>
    </classes>
  </test>
  
  <!-- Failed Cases-->
  <test name="CartSection">
    <classes>
      <class name="testcases.CartSectionTest"/>
    </classes>
  </test>
  
  <test name="SellerLogin">
    <classes>
      <class name="testcases.SellerLoginTest"/>
    </classes>
  </test>
  
  <test name="SellerRegister">
    <classes>
      <class name="testcases.SellerRegisterTest"/>
    </classes>
  </test>
  
  <test name="HelpCenter">
    <classes>
      <class name="testcases.HelpCenterTest"/>
    </classes>
  </test>
  
</suite>
